
.home {
  ul.receipts {

    img {
      max-width: 100px;
      max-height: 100px;
    }
    
    .details {
      display: none;
    }

    .active {
      .name { font-weight: bold; }
      .details { display: block; }
    }

    li {
      border-bottom:1px solid #eee;
      padding:10px;
      position: relative;

      .name {
        font-size:1.2em;
        font-weight:bold;
      }

      .date {
        position:absolute;
        right:10px;
        top:10px;
      }
    }
  }
}