<div class="home row">
  <ul class="receipts">
    <li ng-repeat="receipt in data.receipts | filter:selectedClient" ng-class="{ active: receipt.selected }">
      <a ng-click="select(receipt)">
        <div class="name">{{receipt.client.name}} | {{receipt.name}}</div>
        <div class="info">{{ receipt.amount | currency:'SEK ' }} | {{receipt.date | date:'yyyy-MM-dd HH:mm:ss' }}</div>
      </a>
      <div class="details">
        <img src="{{receipt.image}}" />
        <div class="note">{{receipt.note}}</div>
      </div>
    </li>
  </ul>
</div>
