<div class="upload row" ng-swipe-right="navigate(true)">
  <ol class="steps">
    <li class="picture" ng-class="{ active: step=='picture' }">
      <div class="step">
        <img ng-src="{{receipt.image}}" width="100%" />
        <div class="btns">
          <button class="btn" ng-click="newPicture()">
            <span class="glyphicon glyphicon-camera"></span>
            <span class="nav-title">New picture</span>
          </button>
          <button class="btn" ng-click="pictureFromLibrary()">
            <span class="glyphicon glyphicon-picture"></span>
            <span class="nav-title">Picture from library</span>
          </button>
        </div>
      </div>
    </li>
    <li class="info" ng-class="{ active: step=='info' }">
      <div class="step">
        <input type="text" name="name" ng-model="receipt.name" placeholder="Name"/>
        <input type="text" pattern="\d*" name="amount" ng-model="receipt.amount" placeholder="Amount"/>
        <label for="" class="dropdown">
          <select ng-options="client.client.name for client in data.receipts" ng-model="receipt.client.name">
            <option value="">Client</option>
          </select>
        </label>
        <textarea name="note" ng-model="receipt.note" placeholder="Note"></textarea>
        <button class="btn" ng-click="upload()">Upload</button>
      </div>
    </li>
  </ul>
</div>