<!DOCTYPE html>
<html ng-app="receipter">
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" type="text/css" href="css/receipter.css" />
    <title>Receipter</title>
  </head>
  <body ng-controller="AppController">
    <div class="filter-list ng-cloak" ng-show="filterView" ng-swipe-left="showFilter()" shrink>
      <ul>
        <li class="add-client" ng-click="addNewClient()">
          <div class="glyphicon glyphicon-plus"></div>
        </li>
        <li ng-repeat="client in data.clients | orderBy:'toString()'" ng-click="filterClients(client)">
          {{client}}
          <div class="number-of-receipts">{{(data.receipts | filter:{client.name: client}).length}}</div>
        </li>
      </ul>
    </div>
    <div class="main-view" ng-class="{'hasFilter':filterView}">
      <div class="swipefix" ng-swipe-left="showFilter()" ng-click="showFilter()" ng-show="filterView"></div>
      <main>
        <div class="container slide" ng-view>
        </div>
      </main>
    </div>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/receipter.js"></script>
  </body>
</html>
